.streak, .streak-frozen, .streak-not-frozen {
	font-weight: bold;
	/*color: #FFA200;
	border: 2px solid #FFA200;*/
	padding: 2px, 2px, 1px, 3px;
    border-radius: 10px;
}

.streak-frozen {
	/*background-color: #6FC6F7;*/
	color: #6FC6F7;
	border: 2px solid #6FC6F7;
}
.streak-not-frozen {
	color: #FFA200;
	border: 2px solid #FFA200;
}

.double_or_nothing_label {
	color: #FFAA01;
}

.lingots_label {
	color: #FF4444;
}

.duolingo_link {
	font-weight: bold;
	color: #78C800;
}

.buttons-box {
    border-radius: 2px;
    padding: .1em 1.5em;
}